@font-face {
    font-family: ComicShadow;
    /* Имя шрифта */
    src: url(comic.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Comic;
    /* Имя шрифта */
    src: url(kirillicaComic.ttf);
    /* Путь к файлу со шрифтом */
}

body {
    font-family: Comic;
    line-height: 30px;
}

h2 {
    font-size: 30px;

}

.q_title {
    font-size: 18px;
}

.info__card {
    border: 4px double black;
    border-radius: 10px;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.superhero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    position: relative;
}

.superhero__pic {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin: 10px auto;

}

.btn {
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    display: inline;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-area {
    overflow: hidden;
    width: 210px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}